<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>

        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% data["data"].forEach(function(coin){ %>
        <li><strong><%= coin["symbol"]%></strong> - <%= coin["name"]%> - $<%= coin["quotes"]["USD"]["price"]%> </li>
        <% })%>
    </div>
</div>

